[mysqld]
default_storage_engine=InnoDB
character_set_server=utf8mb4
collation_server=utf8mb4_0900_ai_ci
skip_name_resolve=ON
default_time_zone=+00:00

slow_query_log=ON
long_query_time=1
slow_query_log_file=/var/lib/mysql/slow-query.log

max_connections=50
innodb_buffer_pool_size=256M
innodb_flush_log_at_trx_commit=1
sync_binlog=1

[client]
default_character_set=utf8mb4
